.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(2, 100px);
    text-align: center;
}

.one {
    background-color: rgb(236, 178, 178);
}

.two {
    background-color: rgb(236, 204, 178);
}

.three {
    background-color: rgb(236, 235, 178);
}

.four {
    background-color: rgb(191, 236, 178);
}

.five {
    background-color: rgb(178, 215, 236);
}

.six {
    background-color: rgb(226, 178, 236);
}